<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/app/Common/extend/qiniu/tests" />
        <option value="$PROJECT_DIR$/app/Common/extend/aliyuncs/oss-sdk-php/tests" />
      </list>
    </option>
  </component>
</project>